@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0px;
    background-color: var(--BackGroundColor);
}

/* Styleguide */
:root{
    --BackGroundColor: #2F4F4F;
    --CardColor: #ADD8E6;
}

p,h1,h2,h3{
    margin: 0px;
    color: white;
}

p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
}

h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
}


nav>ul>li a{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}


/* Header$Navn og foooter */

header{
    background-color: var(--BackGroundColor);
    box-shadow: 0px 1px 7.7px rgba(0, 0, 0, 0.3);
    height: 15vh;
    margin-bottom: 32px;
}

header>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 6rem 0px 6rem;
}

header>nav>div{
    display: flex;
    gap: 5px;
}

header>nav>ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0px;
    gap: 3.5rem;
}

nav>ul a{
    color: white;
    text-decoration: none;
}

footer{
    background-color: var(--BackGroundColor);
    box-shadow: -10px 0px 7.7px rgba(0, 0, 0, 0.25);
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6.5rem;
}

footer div:first-of-type{
    display: flex;
    gap: 5px;
}

footer>div>ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

footer>div>ul>li i{
    font-size: 42px;
}

.fa-facebook{
    color: #1877F2;
}

.fa-youtube{
    color: #FF0000;
}


/* Forside */
.movieSection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 3rem;
}

.movieSection div{
    width: 445px;
    align-self: start;
}


.movieSection img{
    justify-self: end;
}

.movieSection div>p:first-of-type{
    margin-bottom: 24px;
}

.fa-star{
    font-size: 21px;
    color: #FFD700;
}
.titlendStar{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 0px 4px 16px 4px;
    align-items: center;
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(5,210px);
    column-gap: 2.5rem;
    row-gap: 3rem;
    justify-content: center;
    margin-bottom: 75px;
}

.gridContainer a{
    text-decoration: none;
}

.gridContainer div{
    background-color: var(--CardColor);
}
.gridContainer p {
    color: black;
}

.movieSection:last-of-type div{
    width: 456px;
}


.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 450ms;
}
.card img{
    width: 210px;
    height: 298px;
}

.card:hover{
    scale: 1.1;
    transition: 450ms;
    cursor: pointer;
}

.search input{
    border: none;
    border-radius: 100px;
    padding: 20px;
    width: 400px;
}
.wrapperSearch {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 20vh;
}

.search button{
    transition: 450ms;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 8px 16px 8px 16px;
    font-size: 18px;
    background-color: #4FAA69;
    border-radius: 35px;
    border: none;
    cursor: pointer;
}

.search button:hover {
    background-color: #3E8B5B;
    color: white; 
}


.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


#specific div:first-of-type{
    display: flex;
    justify-content: center;
}

#specific div:first-of-type img{
    height: 400px;
}

.gridconWrap{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 75px;
}

#specific div:last-of-type{
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    color: black;
    border-radius: 6px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#specific div:last-of-type p{
    color: black;
}

#specific div:last-of-type h3{
    color: black !important;
    font-size: 24px !important;
}

#specific div:nth-of-type(2) p:first-of-type{
    margin-bottom: 50px !important;
}
#specific div:nth-of-type(2){
    width: 60ch;
}



.styleBN{
    background-color: #4FAA69;
    color: black;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    padding: 12px 16px 12px 16px;
    border-radius: 20px;
}

.styleBN:hover{
    background-color: #3E8B5B;

}

.styleBN a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.styleBN a:hover{
    color: white;
}

















